.empty_cart
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex-direction: column;
}
.empty_cart p
{
    margin-top: 20px;
}
@media only screen  and (max-width:420px)
{
    .empty_cart
    {
        object-fit: contain;
        overflow: hidden;
    }  
    .empty_cart p 
    {
        font-size: 0.8rem;
    }  
}