@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.app
{
    width: 85%;
    margin: auto;
}
@media only screen and (max-width:931px) 
{
    .app
    {
        width: 90%;
    }    
}
@media only screen and (max-width:370px)
{
    .app
    {
        width: 93%;
    }
}